include ../mixins/sub-menu.pug

header.header 
    .col-9 
        .inner-menu 
            ul 
                li
                    a(href="/") Trang chủ
                li
                    -const pathProduct = "/products"
                    a(href=pathProduct) Sản Phẩm
                    +sub-menu(layoutsProductsCategory, pathProduct)
                if(user)
                    li 
                        a(href="/chat") Chat
                    li 
                        a(href="/user/logout") Đăng xuất
                else
                    li 
                        a(href="/user/register") Đăng kí 
                    li 
                        a(href="/user/login") Đăng nhập 
                        