header.header 
    .col-3 
        ul 
            li
                a(href=`${prefixAdmin}/dashboard`) Admin

    .col-9
        div(vlass="text-right")
            a(
                href=`${prefixAdmin}/auth/logout`
                class="btn btn-danger btn-sm"
            ) Đăng xuất
               